--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=hello&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
        {
            "num_results": 120, 
            "sounds": [
                {
                    "analysis_stats": "http://www.freesound.org/api/sounds/123346/analysis/", 
                    "analysis_frames": "http://www.freesound.org/data/analysis/123/123346_495253_frames.json", 
                    "preview-hq-mp3": "http://www.freesound.org/data/previews/123/123346_495253-hq.mp3", 
                    "original_filename": "hello.wav", 
                    "tags": [
                        "english", 
                        "female", 
                        "hello", 
                        "latin", 
                        "voice", 
                        "woman"
                    ], 
                    "url": "http://www.freesound.org/people/MatteusNova/sounds/123346/", 
                    "preview-hq-ogg": "http://www.freesound.org/data/previews/123/123346_495253-hq.ogg", 
                    "similarity": "http://www.freesound.org/api/sounds/123346/similar/", 
                    "serve": "http://www.freesound.org/api/sounds/123346/serve/", 
                    "spectral_m": "http://www.freesound.org/data/displays/123/123346_495253_spec_M.jpg", 
                    "preview-lq-mp3": "http://www.freesound.org/data/previews/123/123346_495253-lq.mp3", 
                    "user": {
                        "username": "MatteusNova", 
                        "url": "http://www.freesound.org/people/MatteusNova/", 
                        "ref": "http://www.freesound.org/api/people/MatteusNova/"
                    }, 
                    "spectral_l": "http://www.freesound.org/data/displays/123/123346_495253_spec_L.jpg", 
                    "type": "wav", 
                    "duration": 1.6739999999999999, 
                    "waveform_l": "http://www.freesound.org/data/displays/123/123346_495253_wave_L.png", 
                    "waveform_m": "http://www.freesound.org/data/displays/123/123346_495253_wave_M.png", 
                    "ref": "http://www.freesound.org/api/sounds/123346/", 
                    "id": 123346, 
                    "preview-lq-ogg": "http://www.freesound.org/data/previews/123/123346_495253-lq.ogg"
                }, 
                {
                    "analysis_stats": "http://www.freesound.org/api/sounds/107932/analysis/", 
                    "analysis_frames": "http://www.freesound.org/data/analysis/107/107932_1838023_frames.json", 
                    "preview-hq-mp3": "http://www.freesound.org/data/previews/107/107932_1838023-hq.mp3", 
                    "original_filename": "hello_hello.wav", 
                   [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=world&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      string: |-
        [...]
