--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=policies&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
        {
            "num_results": 1, 
            "sounds": [
                {
                    "analysis_stats": "http://www.freesound.org/api/sounds/77378/analysis/", 
                    "analysis_frames": "http://www.freesound.org/data/analysis/77/77378_508997_frames.json", 
                    "preview-hq-mp3": "http://www.freesound.org/data/previews/77/77378_508997-hq.mp3", 
                    "original_filename": "Prophets Last Words.wav", 
                    "tags": [
                        "120-bpm", 
                        "bass", 
                        "beat", 
                        "distorted", 
                        "distortion", 
                        "drum", 
                        "drumloop", 
                        "hard", 
                        "hardcore", 
                        "kick", 
                        "kickdrum", 
                        "melody", 
                        "pad", 
                        "phase", 
                        "progression", 
                        "sequence", 
                        "strings", 
                        "synth", 
                        "techno", 
                        "trance"
                    ], 
                    "url": "http://www.freesound.org/people/Flick3r/sounds/77378/", 
                    "preview-hq-ogg": "http://www.freesound.org/data/previews/77/77378_508997-hq.ogg", 
                    "similarity": "http://www.freesound.org/api/sounds/77378/similar/", 
                    "serve": "http://www.freesound.org/api/sounds/77378/serve/", 
                    "spectral_m": "http://www.freesound.org/data/displays/77/77378_508997_spec_M.jpg", 
                    "preview-lq-mp3": "http://www.freesound.org/data/previews/77/77378_508997-lq.mp3", 
                    "user": {
                        "username": "Flick3r", 
                        "url": "http://www.freesound.org/people/Flick3r/", 
                        "ref": "http://www.freesound.org/api/people/Flick3r/"
                    }, 
                    "spectral_l": "http://www.freesound.org/data/displays/77/77378_508997_spec_L.jpg", 
                    "type": "wav", 
                    "duration": 6.8616099773199997, 
                    "waveform_l": "http://www.freesound.org/data/displays/77/77378_508997_wave_L.png", 
                    "waveform_m": "http://www.freesound.org/data/displays/77/77378_508997_wave_M.png", 
                    "ref": "http://www.freesound.org/api/sounds/77378/", 
                    "id": 77378, 
                    "preview-lq-ogg": "http://www.freesound.org/data/previews/77/77378_508997-lq.ogg"
                }
            ], 
            "num_pages": 1
        }
  recorded_at: Sun, 17 Feb 2013 03:39:57 GMT
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=procedures&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
   [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=old&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
        {
[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=methods&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      string: |-
      [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=technology&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      string: |-
   [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=produces&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
     [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=often&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      string: |-
        [...]
