<h3>Your latest tweets:</h3>

<% @tweets.each do |tweet| %>
  <div class='tweet'>
    <div class='four embed'>
      <%= tweet.html.html_safe %>
    </div>
    <a href="#" class="play" data-id="<%= tweet.id %>"><%= image_tag("play.png")%></a>
  </div>
<% end %>
