@font-face
  font-family: "Rivanna"
  src: url('/rivanna.eot')
  src: local("Rivanna"), url('/rivanna.ttf') format("truetype")

body
  background: black
  // margin-top: 40px

.header
  margin-left: 100px

  h1
    position: relative
    left: -30px
    display: inline
    color: #eee
    font-size: 96px
    font-family: Rivanna

a.twitter_connect
  font-family: "Rivanna"
  font-size: 46px
  display: block
  margin-left: 364px
  margin-top: 55px
